# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Sandu Dorogan
	email = sandu.dorogan@gmail.com
	signingkey = {{ .chezmoi.homeDir }}/.ssh/id_ed25519.pub

[core]
    pager = delta
	autocrlf = false

#[interactive]
#    diffFilter = delta --color-only

[delta]
    features = side-by-side line-numbers decorations
    syntax-theme = Dracula
    plus-style = syntax "#003800"
    minus-style = syntax "#3f0001"
    navigate = true
    colorMoved = default

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold "#2DAA03DF" ul
    file-decoration-style = none
    hunk-header-decoration-style = "#FFFFFF" box ul

[delta "line-numbers"]
    line-numbers-left-style = "#FFFFFF"
    line-numbers-right-style = "#FFFFFF"
    line-numbers-minus-style = 124
    line-numbers-plus-style = 28

[tag]
	forceSignAnnotated = true
	gpgSign = true

[color]
  branch = auto
  diff = auto
  status = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[core]
  editor = nvim
  excludesfile = ~/.gitignoreglobal
[commit]
  template = ~/.gitmessage
	gpgsign = true
[url "git@github.com:"]
  insteadOf = https://github.com/
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = {{ .chezmoi.homeDir }}/.ssh/allowed_signers
