[Desktop Entry]
Icon=video-webm
Name=De sarbatori-kcW-fHMRdQo.webm
Type=Link
URL[$e]=file:$HOME/Mariana/De sarbatori-kcW-fHMRdQo.webm
X-KDE-LastOpenedWith=org.kde.kdenlive
