[Desktop Entry]
Icon=video-x-matroska
Name=Noblesse - Steaua sus rasare-ejHPiaseHkg.mkv
Type=Link
URL[$e]=file:$HOME/Mariana/Noblesse - Steaua sus rasare-ejHPiaseHkg.mkv
X-KDE-LastOpenedWith=org.kde.kdenlive
