[Desktop Entry]
Icon=video-x-matroska
Name=Paula Seling - Colindam, colindam-cM3-FwvH7i4.mkv
Type=Link
URL[$e]=file:$HOME/Mariana/Paula Seling - Colindam, colindam-cM3-FwvH7i4.mkv
X-KDE-LastOpenedWith=org.kde.kdenlive
