[Desktop Entry]
Icon=video-x-matroska
Name=Paula Seling - Florile Dalbe-MJXncD4zPgk.mkv
Type=Link
URL[$e]=file:$HOME/Mariana/Paula Seling - Florile Dalbe-MJXncD4zPgk.mkv
X-KDE-LastOpenedWith=org.kde.kdenlive
