[Desktop Entry]
NoDisplay=true
Type=Application
Version=2.20210310.0
Name=Kite Copilot
Exec=/home/sandu/.local/share/kite/current/linux-unpacked/kite --no-sandbox %u
Icon=/home/sandu/.local/share/icons/hicolor/128x128/apps/kite.png
MimeType=application/x-kite;x-scheme-handler/kite;
